---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="About my pene">
  <p>Esta es la página About</p>
  			<Card
				href="/"
				title="Is bigger"
				body="Learn how Astro works and explore the official API docs."
			/>
</Layout>

<style>
  html{
    background-color: #fff;
  }
</style>